.sidebar {
  max-width: 300px;
  width: 100%;
  border-right: 1px solid rgb(194, 194, 194);
  height: 100vh;
  padding: 50px 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .side_menu {
    ul {
      list-style: none;

      li {
        margin-bottom: 10px;
        display: flex;

        a {
          color: rgb(63, 63, 140);
          font-weight: 500;
          padding: 8px 15px;
          width: 100%;

          &:hover {
            background: rgb(63, 63, 140, 0.2);
          }
        }
      }
    }
  }
}
