.sidebar {
  max-width: 300px;
  width: 100%;
  border-right: 1px solid rgb(194, 194, 194);
  height: 100vh;
  padding: 50px 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid purple;
  }

  .side_menu {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul {
      list-style: none;

      li {
        margin-bottom: 10px;
        display: flex;

        a {
          color: rgb(63, 63, 140);
          font-weight: 500;
          padding: 8px 15px;
          width: 100%;

          &:hover {
            background: rgb(63, 63, 140, 0.2);
          }
        }
      }
    }
    .activeLink {
      color: rgb(63, 63, 140);
      background: rgb(63, 63, 140, 0.2);
    }

    .logout {
      width: fit-content;
      margin: 0 auto;
      padding: 10px 30px;
      border: none;
      background: rgb(63, 63, 140, 0.2);
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      color: rgb(63, 63, 140);

      &:active {
        background: rgb(63, 63, 140, 0.6);
        color: purple;
      }
    }
  }
}
