.update_product {
  form {
    padding-top: 100px;
    max-width: 500px;
    margin: 0 auto;

    fieldset {
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      input,
      textarea {
        padding: 10px;
        outline: none;
      }
    }
  }
}
